<app-navbar></app-navbar>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">Create Account</span>
                </div>

                <form class="login100-form validate-form" (ngSubmit)="register()">
                    <div class="wrap-input100">
                        <input [(ngModel)]="data.fullName" class="input100" type="text" name="fullName" placeholder=" ">
                        <span class="label-input100">Full Name</span>
                    </div>

                    <div class="wrap-input100">
                        <input [(ngModel)]="data.email" class="input100" type="text" name="email" placeholder=" ">
                        <span class="label-input100">Email</span>
                    </div>

                    <div class="wrap-input100">
                        <input [(ngModel)]="data.password" class="input100" type="password" name="password"
                            placeholder=" ">
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="wrap-input100">
                        <input [(ngModel)]="data.confirmPassword" class="input100" type="password"
                            name="confirmPassword" placeholder=" ">
                        <span class="label-input100">Confirm Password</span>
                    </div>
                    <div class="col-md-12 mt-3">
                        <input class="input100 mb-3" type="file" (change)="onFileSelected($event)" accept="image/*">
                        <div class="mb-4" *ngIf="isLoading">Uploading...</div>
                        <img *ngIf="image_url" [src]="image_url" alt="Uploaded Image"
                            style="border: solid 1px green; border-radius: 5px; margin-bottom: 25px;" width="200">
                    </div>

                    <div class="wrap-input100">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="data.role" class="input100">
                            <option name="ROLE_CLIENT" value="ROLE_CLIENT">Client</option>
                            <option name="ROLE_FARMER" value="ROLE_FARMER">Farmer</option>
                        </select>
                        <span class="label-input100">Account Type</span>
                    </div>
                    <div *ngIf="submitted && errMessage" class="error-message mb-2">
                        {{ errMessage }}
                    </div>

                    <div>
                        <button type="submit" class="login100-form-btn">Sign Up</button>
                        <div class="register-link">
                            <a href="/authenticate">Already have an account? Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>