<app-navbar></app-navbar>

<body>
    <header>
        <h1>Our Agricultural Products</h1>
        <p>High-quality, fresh, and sustainable products straight from our farms.</p>
    </header>
    <div *ngIf="products.length == 0" class="product-container d-flex  align-items-center">

        <svg style="height: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <circle fill="#4CAF50" stroke="#4CAF50" stroke-width="15" r="15" cx="40" cy="100">
                <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;"
                    keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate>
            </circle>
            <circle fill="#4CAF50" stroke="#4CAF50" stroke-width="15" r="15" cx="100" cy="100">
                <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;"
                    keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate>
            </circle>
            <circle fill="#4CAF50" stroke="#4CAF50" stroke-width="15" r="15" cx="160" cy="100">
                <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;"
                    keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate>
            </circle>
        </svg>
        <h2 class="alert alert-danger mt-3">Products Load</h2>
    </div>

    <div>
        <div *ngFor="let product of products" class="product-container">
            <!-- Product Card 1 -->
            <div class="product-card">
                <img src="../../assets/vegetable.png" alt="Product 1">
                <h2>{{product.product_title}}</h2>
                <p>{{product.category}}</p>
                <span class="price">${{product.price}}/kg</span>
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
</body>