<div class="cart-page">
  <app-navbar></app-navbar>
  
  <div class="cart-header">
    <h1>Shopping Cart</h1>
    <p>Your selected products are ready for checkout.</p>
  </div>

  <div class="container">
    @if (cartItems.length > 0) {
      <h2>Your Cart</h2>
      @for (item of cartItems; track item.product.id) {
        <div class="cart-item">
          <img [src]="item.product.image_url" [alt]="item.product.product_title" class="cart-item-img">
          <div class="cart-item-details">
            <h3>{{ item.product.product_title }}</h3>
            <p>Quantity: {{ item.quantity }}</p>
            @if (isOlderThanThreeDays(item.product.createdAt)) {
              <p>Price: ${{ item.product.price }} /per Kg including 20% Discount</p>
            } @else {
              <p>Price: ${{ item.product.price }} /per Kg</p>
            }
            <button class="remove-btn" (click)="removeItem(item.product.id)">Remove</button>
          </div>
        </div>
      }
      
      <div class="cart-actions">
        <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
        <h2>Total: ${{ total }}</h2>
        <button class="btn btn-primary" (click)="createOrder()">Proceed to Checkout</button>
      </div>
    } @else {
      <div class="empty-cart-message">
        <p>Your cart is empty. Browse our products and add some to your cart.</p>
        <a class="btn btn-success" href="/all-products">Go to Products</a>
      </div>
    }
  </div>
</div>