<app-navbar></app-navbar>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">Welcome Back</span>
                </div>

                <form class="login100-form validate-form" (ngSubmit)="authenticate()">


                    <div class="wrap-input100">
                        <input [(ngModel)]="data.email" class="input100" type="text" name="email" placeholder=" ">
                        <span class="label-input100">Email</span>
                    </div>
                    <div class="wrap-input100">
                        <input [(ngModel)]="data.password" class="input100" type="password" name="password"
                            placeholder=" ">
                        <span class="label-input100">Password</span>
                    </div>
                    <div>
                        <div *ngIf="submitted && errMessage" class="error-message mb-2">
                            {{ errMessage }}
                        </div>

                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                        <div class="register-link">
                            <a href="/register">Don't have an account? Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>