<app-navbar></app-navbar>

<body>
    <div class="post-container">
        <!-- Post Header -->
        <div class="post-header">
            <div class="post-author-info">
                <span class="post-author">Title: {{post.post_title}}</span>
            </div>
        </div>

        <!-- Post Content -->
        <div class="post-content">
            <p><strong>Description:</strong> {{post.description}}</p>
            <img class="post-image" src="{{post.image_url}}" alt="{{post.title}}">
            Posted:<span class="post-date">{{ getTimeAgo() }}</span>
        </div>

        <!-- Toggle Comments Button -->
        <div class="comments-toggle">
            <button (click)="toggleComments()">
                {{ showComments ? 'Hide Comments' : 'Show Comments' }}
            </button>
        </div>

        <!-- Comments Section -->
        <div class="comments-section" *ngIf="showComments">
            <h3>Comments</h3>
            <div class="comment-list">
                <ul>
                    <li *ngFor="let item of comments" class="comment">
                        <img class="comment-author-avatar" src="{{ item.postCommentedBy.image_url }}" alt="User Avatar">
                        <div class="comment-content">
                            <span class="comment-author">{{ item.postCommentedBy.fullName }}:</span>
                            <span class="comment-text">{{ item.comment }}</span>
                            <span class="comment-date">{{ item.createdAt | date }}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Add Comment Form -->
            <form (ngSubmit)="createComment()" class="add-comment-form">
                <textarea [(ngModel)]="data.comment" name="comment" placeholder="Add a comment..." rows="2"></textarea>
                <button type="submit">Post Comment</button>
            </form>
        </div>
    </div>
</body>