<app-navbar></app-navbar>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form id="contact-form" role="form">
                                <div class="controls">
                                    <div class="row">
                                        <div class="text-center mt-5">
                                            <h1>Welcome, CHANGEME</h1>
                                            <h1 class="text-3xl font-bold underline">Hello world!</h1>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="productTitle">Prodcut Title *</label>
                                                <input id="productTitle" type="text" name="productTitle"
                                                    class="form-control" placeholder="Please enter your Product Title *"
                                                    required="required" data-error="Product Title is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="price">Price *</label>
                                                <input id="price" type="text" name="price" class="form-control"
                                                    placeholder="Please enter your price *" required="required"
                                                    data-error="price is required.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="location">Location *</label>
                                                <input id="location" type="email" name="location" class="form-control"
                                                    placeholder="Please enter the product location *"
                                                    required="required" data-error="Valid location is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_need">Please specify the product category</label>
                                                <select id="form_need" name="need" class="form-control"
                                                    required="required"
                                                    data-error="Please specify the product category.">
                                                    <option value="" selected disabled>--Select Product Category--
                                                    </option>
                                                    <option>Vegetables</option>
                                                    <option>Fruits</option>
                                                    <option>Meat</option>
                                                    <option>Dairy</option>
                                                    <option>Herbs</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <div class="form-group">
                                                <label for="farmingMethod">Please specify the Farming Method</label>
                                                <select id="farmingMethod" name="farmingMethod" class="form-control"
                                                    required="required" data-error="Please specify the Farming Method.">
                                                    <option value="" selected disabled>--Select Your Farming Method--
                                                    </option>
                                                    <option>Subsistence Farming</option>
                                                    <option>Plantation Farming</option>
                                                    <option>Dryland Farming</option>
                                                    <option>Wetland Farming</option>
                                                    <option>Mixed Farming</option>
                                                    <option>Organic Farming</option>
                                                    <option>Others</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-2">
                                            <div class="form-group">
                                                <label for="description">Description *</label>
                                                <textarea id="description" name="description" class="form-control"
                                                    placeholder="Write your description here." rows="4"
                                                    required="required"
                                                    data-error="Please, leave us a description."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-send mt-2">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>