<app-navbar></app-navbar>
<div class="content">
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div style="background-color: #E6D6BD;" class="card mt-2 mx-auto p-4 ">
                    <div style="background-color: #E6D6BD;" class="card-body ">
                        <div class="container">
                            <form id="contact-form" role="form" (ngSubmit)="createProduct()">
                                <div class="controls">
                                    <div class="row">
                                        <div class="text-center  mb-4 ">
                                            <h1 style="color: green;">Welcome, {{userName}}</h1>
                                            <h2>Create a new product</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_need"><strong>Specify the product category *</strong>
                                                </label>
                                                <select [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="data.category" id="form_need" name="category"
                                                    class="form-control border border-success" required="required"
                                                    data-error="Please specify the product category.">
                                                    <option value="--Select Product Category--" selected disabled>
                                                        --Select Product Category--
                                                    </option>
                                                    <option name="Vegetables" value="Vegetables">Vegetables</option>
                                                    <option name="Fruits" value="Fruits">Fruits</option>
                                                    <option name="Meat" value="Meat">Meat</option>
                                                    <option name="Dairy" value="Dairy">Dairy</option>
                                                    <option name="Herbs" value="Herbs">Herbs</option>
                                                    <option name="Other" value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="farming_method"><strong>Please specify the Farming Method
                                                        *</strong></label>
                                                <select [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="data.farming_method" id="farming_method"
                                                    name="farming_method" class="form-control border border-success"
                                                    required="required" data-error="Please specify the Farming Method.">
                                                    <option value="--Select Your Farming Method--" selected disabled>
                                                        --Select Your Farming Method--
                                                    </option>
                                                    <option name="Subsistence" value="Subsistence">Subsistence Farming
                                                    </option>
                                                    <option name="Plantation" value="Plantation">Plantation Farming
                                                    </option>
                                                    <option name="Dryland" value="Dryland">Dryland Farming</option>
                                                    <option name="Wetland" value="Wetland">Wetland Farming</option>
                                                    <option name="Mixed" value="Mixed">Mixed Farming</option>
                                                    <option name="Organic" value="Organic">Organic Farming</option>
                                                    <option name="Others" value="Others">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <div class="form-group">
                                                <label for="product_title"><strong>Prodcut Title *</strong></label>
                                                <input [(ngModel)]="data.product_title" id="product_title" type="text"
                                                    name="product_title" class="form-control border border-success"
                                                    placeholder="Please enter your Product Title " required="required"
                                                    data-error="Product Title is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <div class="form-group">
                                                <label for="price"><strong>Price TND/Kg *</strong></label>
                                                <input [(ngModel)]="data.price" id="price" type="text" name="price"
                                                    class="form-control border border-success"
                                                    placeholder="Please enter your price " required="required"
                                                    data-error="price is required.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="farming_method"><strong>Please specify the Location
                                                        *</strong></label>
                                                <select [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="data.location" id="location" name="location"
                                                    class="form-control border border-success" required="required"
                                                    data-error="Please specify the location.">
                                                    <option value="--Select location--" selected disabled>
                                                        --location--
                                                    </option>
                                                    <option name="Tunis" value="Tunis">Tunis
                                                    </option>
                                                    <option name="Sfax" value="Sfax">Sfax
                                                    </option>
                                                    <option name="Sousse" value="Sousse">Sousse</option>
                                                    <option name="Ettadhamen" value="Ettadhamen">Ettadhamen</option>
                                                    <option name="Kairouan" value="Kairouan">Kairouan</option>
                                                    <option name="Gabès" value="Gabès">Gabès</option>
                                                    <option name="Bizerte" value="Bizerte">Bizerte</option>
                                                    <option name="Ariana" value="Ariana">Ariana</option>
                                                    <option name="Gafsa" value="Gafsa">Gafsa</option>
                                                    <option name="Monastir" value="Monastir">Monastir</option>
                                                    <option name="Ben Arous
                                                    " value="Ben Arous
                                                    ">Ben Arous
                                                    </option>
                                                    <option name="La_Marsa
                                                " value="La_Marsa
                                                ">La Marsa
                                                    </option>
                                                    <option name="Medenine" value="Medenine">Medenine</option>
                                                    <option name="Nabeul" value="Medenine">Nabeul</option>
                                                    <option name="Tataouine" value="Tataouine">Tataouine</option>
                                                    <option name="Tozeur" value="Tozeur">Tozeur</option>
                                                    <option name="Zarzis" value="Zarzis">Zarzis</option>
                                                    <option name="Hammamet" value="Hammamet">Hammamet</option>
                                                    <option name="Kelibia" value="Kelibia">Kelibia</option>
                                                    <option name="Beja
                                                    " value="Beja
                                                    ">Beja
                                                    </option>
                                                    <option name="Jendouba" value="Jendouba">Jendouba</option>
                                                    <option name="Kebili" value="Kebili">Kebili</option>
                                                    <option name="Siliana" value="Siliana">Siliana</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-2">
                                            <div class="form-group">
                                                <label for="description"><strong>More Details About the product
                                                        *</strong></label>
                                                <textarea [(ngModel)]="data.description" id="description"
                                                    name="description" class="form-control border border-success"
                                                    placeholder="Write your description here." rows="4"
                                                    required="required"
                                                    data-error="Please, leave us more details"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-send mt-2">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>