<app-navbar></app-navbar>

<body>
    <div class="form-container">
        <h2>Share Your Farming Story</h2>
        <p>Join the community and share your experiences, tips, or questions about agriculture.</p>
        <form id="communityPostForm">
            <div class="form-group">


                <form role="form" (ngSubmit)="createPost()">
                    <div class="text-center  mb-4 ">
                        <h1 style="color: green;">Welcome, {{userName}}</h1>
                        <h2>Create a new post</h2>
                    </div>


                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="post_title"><strong>Post Title *</strong></label>
                            <input [(ngModel)]="data.post_title" id="post_title" type="text" name="post_title"
                                class="form-control border border-success post_title"
                                placeholder="Please enter your post Title " required="required"
                                data-error="post Title is required.">
                        </div>
                    </div>
                    <textarea [(ngModel)]="data.description" id="postContent" name="description"
                        placeholder="What's growing in your field?"></textarea>
                    <div class="form-actions">
                        <a type="button" class="cancel-btn">Cancel</a>
                        <button type="submit" class="submit-btn">Post</button>
                    </div>


                </form>


            </div>

        </form>
    </div>
</body>