<app-navbar></app-navbar>



<app-navbar></app-navbar>

<body>
    <div class="community-container">
        <h1>Freshka Community</h1>
        <p>Connect, share, and grow with fellow farmers.</p>

        <!-- Post Feed -->
        <div class="post-feed">
            <div class="post" *ngFor="let post of posts">
                <div class="post-header">
                    <div class="post-author-info">
                        <span class="post-author">Title: <a
                                href="/post-details/{{post.id}}">{{post.post_title}}</a></span>

                    </div>
                </div>
                <div class="post-content">
                    <p>Description: {{post.description}}</p>
                </div>
                <img class="post-image" src="../../assets/vegetable.png" alt="Organic Tomatoes">
                <div class="post-footer">
                    <button class="comment-button">💬 3</button>
                    <span class="post-date">Posted: {{ getTimeAgo(post) }}</span>
                </div>
            </div>

            <!-- Repeat more posts here -->
        </div>
    </div>
</body>