<app-navbar></app-navbar>

<body>
    <div style="margin-top: 65px;">
        <div class="profile-container">
            <!-- Profile Header -->
            <div class="profile-header" style="margin-top: 150px;">
                <div class="profile-info">
                    <!-- <img class="profile-picture" src="../../assets/farmer-avatar.png" alt="Profile Picture"> -->
                    <h1>Full Name: {{profile.fullName}}</h1>
                    <h4 *ngIf="profile.role == 'ROLE_ADMIN'">Account Type: Admin</h4>
                    <h4 *ngIf="profile.role == 'ROLE_CLIENT'">Account Type: Client</h4>
                    <h4 *ngIf="profile.role == 'ROLE_FARMER'">Account Type: Farmer</h4>
                    <h4>Email: {{profile.email}}</h4>
                    <div class="profile-stats">
                        <div class="stat">
                            <span class="stat-number">{{created_products.length}}</span>
                            <span class="stat-label">Posts</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab Content -->
            <div class="tab-content">
                <!-- Posts Tab -->
                <div id="posts" class="tab-pane active">
                    <div class="posts-container">
                        <!-- Single Post Card -->
                        <div class="post" *ngFor="let product of created_products">
                            <div class="post-content">
                                <p>{{ product.product_title }}</p>
                            </div>
                            <img style="height: 250px;" src="{{product.image_url}}" alt="{{product.product_title}}">
                            <div class="post-footer">
                                <span class="post-date">{{ getTimeAgo(product) }}</span>
                                <button class="comment-button">💬 123</button>
                            </div>
                        </div>
                        <!-- Repeat for more posts -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>