<app-navbar></app-navbar>

<body>
    <div class="profile-container">
        <!-- Profile Header -->
        <div class="profile-header">
            <div class="profile-info">
                <img *ngIf="profile.image_url !== null" class="profile-picture" src="{{profile.image_url}}"
                    alt="Profile Picture">
                <img *ngIf="profile.image_url == null" class="profile-picture" src="/assets/noprofilepic.jpg"
                    alt="Profile Picture">
                <h1>{{profile.fullName}}</h1>
                <h4 *ngIf="profile.role === 'ROLE_ADMIN'">Admin</h4>
                <h4 *ngIf="profile.role === 'ROLE_CLIENT'">Client</h4>
                <h4 *ngIf="profile.role === 'ROLE_FARMER'">Farmer</h4>

                <h4>{{profile.email}}</h4>
                <div class="profile-stats" *ngIf="profile.role == 'ROLE_FARMER'">
                    <div class="stat">
                        <span class="stat-label">Products Posted: </span>
                        <span class="stat-number">{{created_products.length}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Posts Section -->
        <div class="posts-container">
            <div class="post" *ngFor="let product of created_products">
                <img class="post-image" src="{{product.image_url}}" alt="{{product.product_title}}">
                <div class="post-content">
                    <h3><a style="text-decoration: none;" href="/product-details/{{product.id}}">{{
                            product.product_title}}</a></h3>
                    <div class="post-footer">
                        <span class="post-date">📅 Posted:{{ getTimeAgo(product) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>